header {
  background-color: #f25d25;
  li a {
    float: right;
    color: #fff;
  }
}


#region-inicio {
  float: none;
  margin: 0 auto;
  text-align: center;
  padding-top: 45px;
  .img-responsive {
    margin: 0 auto;
  }
}
